[submodule "face_recognition"]
	path = face_recognition
	url = git@github.com:SW7THML/face-recognition.git
[submodule "face_detection"]
	path = face_detection
	url = git@github.com:SW7THML/face-detection.git
